#drag-arrow {
  position: absolute;
  margin-left: 101vh;  /* match .draggable */
  margin-top: 100px;  /* match images */
  padding-top: 25px;
}

#drag-text {
  position: absolute;
  margin-left: 100vh;  /* match .draggable */
  margin-top: 100px;  /* match images */
  padding: 70px;
}

.dropzone-wrapper {
  position: absolute;
  width: 98vh;
  height: 98vh;
  top: 0;
  margin: auto;
}

.dropzone {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: .5em;
  padding: 1em;
  color: #666;
  border: 4px solid;
  transition: background .15s linear, border-color .15s linear;
}

.dropzone.-drop-possible {
  border: 4px dashed transparent;
  border-color: #666;
}

.dropzone.-drop-over {
  background: #666;
  color: #fff;
}

.draggable {
  position: absolute;
  z-index: 10;
  margin: 2em;
  margin-left: 101vh;
  text-align: center;

  -ms-touch-action: none;
      touch-action: none;
}

.shadow {
  box-shadow: 0 0 10px grey;
}

.draggable.-drop-possible {
  background-color: #42bd41;
}
